<html>
    <head>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script language="JavaScript">

            Vue.component("paste-display", {
                template: '<textarea>{{ message }}</textarea>',
                props: [ 'message' ],
                methods: {
                    refreshMessage() {
                        this.$emit('refreshMessage');
                    }
                }
            });
            Vue.component("paste-list", {
                props: [ 'paste_ids' ],
                methods: {
                    fetchList() {
                        this.$emit('fetchList');
                    }
                },
                template: '<div v-for="id in paste_ids">{{ id }}</div>'
            });
        </script>
    </head>
    hi!
    <div id="app">
        <paste-list></paste-list>
        <paste-display></paste-display>
    </div>

<script language="JavaScript">
    app = new Vue({
                el: "#app",
                data: function () {
                    return {
                        paste_ids: ''
                    }
                },
                methods: {
                    fetchList(resource) {
                        this.$http.get('/api/').then((response) => {

                            this.paste_ids = response.data;
                        });
                    }
                }
            });
</script>
</html>