<html xmlns:v-on="http://www.w3.org/1999/xhtml">
{% raw %}
    <head>
        <script src="https://unpkg.com/vue@latest"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <script language="JavaScript">
            Vue.component('v-select', VueSelect.VueSelect);

            // Vue.component("paste-display", {
            //     template: '<textarea rows=20 cols=80 :value="inputText" @change="updateInput"></textarea>',
            //     props: {
            //       inputText: {
            //       	default: "This is the default text"
            //       }
            //     },
            //     model: {
            //       prop: "inputText",
            //       event: "change"
            //     },
            //     methods: {
            //     	updateInput() {
            //     		this.$emit('change', this.value);
            //     	}
            //     }
            // });
        </script>
    </head>

    <div id="app">
        <v-select id="paste_select" :options="paste_ids" v-model="selected_id" @input="fetchPaste"></v-select>
       <!--  <paste-display id="display" v-model="current_paste"></paste-display> -->
       <textarea rows="20" cols="80" v-model=current_paste placeholder="Write your text in here."></textarea>
        <button v-on:click="saveNew">Save as New</button>
    </div>
<script language="JavaScript">
            app = new Vue({
                el: "#app",
                data: function () {
                    return {
                        paste_ids: [],
                        selected_id: '',
                        current_paste: ''
                    }
                },
                mounted:
                    function() {
                        this.listIds();
                    },
                methods: {
                    listIds:function() {
                        fetch(`/api/`)
                        .then(res=>res.json())
                        .then(res => {
                            console.log(res)
                            this.paste_ids=res;
                        });
                        return this.paste_ids;
                    },
                    fetchPaste:function() {
                        if(this.selected_id == null || this.selected_id == '' )
                            return null;
                        fetch(`/api/` + this.selected_id)
                        .then(res => res.json())
                        .then(res => this.current_paste=res);
                        console.log(this.current_paste);
                        return this.current_paste;
                    },
                    saveNew:function() {
                        fetch(`/api/`, {
                            method: 'post',
                            headers: {
                                "Content-type": "text/plain; charset=UTF-8"
                            },
                            body: this.current_paste
                        })
                        .then( res => res.text())
                        .then( res => alert("New ID: " + res))
                        .then( res => this.listIds());
                    }
                }
            });
</script>
{% endraw %}
</html>